footer {
    margin: 100px auto 0;
    padding: 8px 2em;
    width: max-content;
    border: 1px solid #ccc;
    border-radius: 2em 2em 0 0;
    p {
        margin: 0;
        span {
            color: #ff0000;
        }
    }
}